<div class="recipe">
    <h1 class="recipe-title">Brigadeirão gourmet</h1>
    <h2 class="recipe-subtitle">Ingredientes</h2>
    <ul class="recipe-list">
      <li class="recipe-list-item">1/2 xícara (chá) de creme de leite fresco ou 120 mililitros</li>
      <li class="recipe-list-item">300 gramas de leite condensado ou 1 xícara de chá</li>
      <li class="recipe-list-item">4 ovos</li>
      <li class="recipe-list-item">400 gramas de chocolate meio amargo derretido ou 3 xícaras de chá</li>
    </ul>
    <div class="recipe-img-container">
      <img class="recipe-img" src="https://s2.glbimg.com/XZhi6g1p9MC66F89e6IgSIJ-mC4=/0x0:1280x960/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_e84042ef78cb4708aeebdf1c68c6cbd6/internal_photos/bs/2019/x/Q/M1qCEqQWyztGcy1xBSAg/brigadeirao-gourmet.jpeg" alt="Brigadeirão gourmet">
    </div>
    <h2 class="recipe-subtitle">Modo de preparo</h2>
    <p class="recipe-text">
        No liquidificador, coloque 4 ovos, ½ xícara de chá de creme de leite fresco, 300 gramas de leite condensado, 400 gramas de chocolate meio amargo derretido e bata por 2 minutos.
    </p>
    <p class="recipe-text">
      ransfira para uma forma de pudim de 17 centímetros por 6 centímetros de altura untada com manteiga e polvilhada com açúcar, cubra com papel alumínio e leve ao forno preaquecido a 180 graus em banho maria por 1 hora.
    </p>
    <p class="recipe-text">
      Retire do forno, leve à geladeira por no mínimo 2 horas. Depois desse tempo, retire da geladeira, desenforme, decore com chocolate granulado e sirva.
    </p>
  </div>