.footer-content {
  width: 85%;
  justify-self: center;
  display: inherit;
  grid-template-rows: 5vh;
  grid-template-columns: auto;
  grid-template-areas: "copy github"; 
}

.copy {
  align-self: center;
  display: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  grid-area: copy;
}

.github {

  a {
    color: #7C001E;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    transition: color .3s ease;

    &:hover {
      color: rgba(#7C001E, .6);
    }

  }

  display: inherit;
  align-self: center;
  grid-area: github;
  text-align: right;
}