<div class="recipe">
    <h1 class="recipe-title">Lasanha de berinjela</h1>
    <h2 class="recipe-subtitle">Ingredientes</h2>
    <ul class="recipe-list">
      <li class="recipe-list-item">2 berinjelas médias, descascadas e cortadas em fatias finas</li>
      <li class="recipe-list-item">2 tomates grandes, sem pele, cortados em rodelas finas</li>
      <li class="recipe-list-item">2 tomates sem pele e sem sementes, picadinhos</li>
      <li class="recipe-list-item">½ cebola média ralada</li>
      <li class="recipe-list-item">1 colher (chá) de folhas de manjericão</li>
      <li class="recipe-list-item">1 colher (café) de orégano</li>
      <li class="recipe-list-item">1 colher (sopa) de óleo de girassol</li>
      <li class="recipe-list-item">100 g de ricota amassadinha</li>
      <li class="recipe-list-item">4 colheres (sopa) de parmesão ralado</li>
      <li class="recipe-list-item">Sal a gosto</li>
    </ul>
    <div class="recipe-img-container">
      <img class="recipe-img" src="https://portal-amb-imgs.clubedaana.com.br/2016/11/lasanha-de-berinjela-simples-600x400.jpg" alt="Lasanha de berinjela">
    </div>
    <h2 class="recipe-subtitle">Modo de preparo</h2>
    <p class="recipe-text">
      Coloque 1/2 colher (sopa) de óleo em uma frigideira antiaderente. Frite as fatias de berinjela e vá colocando-as num refratário untado.
    </p>
    <p class="recipe-text">
      Coloque uma camada de berinjelas, uma de ricota, uma de tomate cortado em rodelas, seguindo outra de berinjela até terminar, de preferência com a camada de berinjelas.
    </p>
    <p class="recipe-text">
      Faça um molho refogando a cebola, o tomate as ervas e os temperos. Se necessário, acrescente um pouco de água.
    </p>
    <p class="recipe-text">
      Despeje o molho por cima da lasanha e polvilhe com queijo ralado. Leve ao forno por 15 minutos.
    </p>
  </div>