<div class="recipe">
    <h1 class="recipe-title">Bolo de caneca</h1>
    <h2 class="recipe-subtitle">Ingredientes</h2>
    <ul class="recipe-list">
      <li class="recipe-list-item">1 ovo</li>
      <li class="recipe-list-item">2 colheres (sopa) de achocolatado em pó</li>
      <li class="recipe-list-item">3 colheres (sopa) rasas de açúcar</li>
      <li class="recipe-list-item">4 colheres (sopa) rasas de farinha de trigo</li>
      <li class="recipe-list-item">1 colher (sopa) de óleo</li>
      <li class="recipe-list-item">1 colher (café) rasa de fermento em pó</li>
      <li class="recipe-list-item">4 colheres (sopa) de leite</li>
      <li class="recipe-list-item">2 colheres (sopa) de achocolatado em pó</li>
      <li class="recipe-list-item">1 colher (sopa) de margarina</li>
      <li class="recipe-list-item">1/2 xícara de leite</li>
    </ul>
    <div class="recipe-img-container">
      <img class="recipe-img" src="https://img.itdg.com.br/tdg/images/recipes/000/060/429/280773/280773_original.jpg" alt="Bolo de caneca">
    </div>
    <h2 class="recipe-subtitle">Modo de preparo</h2>
    <p class="recipe-text">
      Coloque todos os ingredientes dentro de uma caneca de aproximadamente 300 ml ou mais.
    </p>
    <p class="recipe-text">
      Mexa até obter uma massa homogênea e leve ao micro-ondas por 3 minutos.
    </p>
    <p class="recipe-text">
      Coloque todos os ingredientes em uma panela, leve ao fogo médio e misture até obter uma consistência grossa.
    </p>
    <p class="recipe-text">
      Despeje a calda sobre o bolo assim que retirá-lo do microondas.
    </p>
  </div>