<ul>
  <li class="sidebar-title">Receitas</li>
  <li><a routerLink="pages/receitas/pao-de-queijo">Pão de queijo</a></li>
  <li><a routerLink="pages/receitas/lasanha-de-berinjela">Lasanha de Berinjela</a></li>
  <li><a routerLink="pages/receitas/bolo-de-caneca">Bolo de Caneca</a></li>
  <li><a routerLink="pages/receitas/pizza-de-liquidificador">Pizza de Liquidificador</a></li>
  <li><a routerLink="pages/receitas/sorvete-caseiro">Sorvete Caseiro</a></li>
  <li><a routerLink="pages/receitas/pudim-de-leite">Pudim de Leite</a></li>
  <li><a routerLink="pages/receitas/brigadeirao-gourmet">Brigadeirão Gourmet</a></li>
</ul>