<div class="recipe">
    <h1 class="recipe-title">Pizza de liquidificador</h1>
    <h2 class="recipe-subtitle">Ingredientes</h2>
    <ul class="recipe-list">
      <li class="recipe-list-item">1½ xícaras de farinha de trigo (210 gramas)</li>
      <li class="recipe-list-item">1 xícara de leite morno para frio</li>
      <li class="recipe-list-item">1 colher de sopa de margarina</li>
      <li class="recipe-list-item">1 colher de sopa de fermento biológico seco</li>
      <li class="recipe-list-item">1 colher de chá de açúcar</li>
      <li class="recipe-list-item">1 colher de chá de sal</li>
      <li class="recipe-list-item">1 unidade de ovo</li>
    </ul>
    <div class="recipe-img-container">
      <img class="recipe-img" src="https://www.receitadevovo.com.br/gbau/sistema/receitas/img/pizza-de-liquidificador-2_08082016074921.jpg" alt="Pizza de liquidificador">
    </div>
    <h2 class="recipe-subtitle">Modo de preparo</h2>
    <p class="recipe-text">
      Para preparar sua pizza de liquidificador comece por bater no liquidificador o leite, o ovo e a margarina, até obter uma mistura homogênea.
    </p>
    <p class="recipe-text">
      Em seguida tempere com o sal e o açúcar e adicione a farinha gradualmente, fazendo intervalos para bater. Desta forma conseguirá uma massa mais uniforme! Se for necessário misture um pouco com a espátula.
    </p>
    <p class="recipe-text">
      Leve sua pizza de liquidificador a pré-assar no forno pré-aquecido a 180ºC durante 10 minutos. Assim ela ficará mais consistente e pronta para terminar o processo.
    </p>
    <p class="recipe-text">
      O próximo passo da pizza de liquidificador é adicionar o fermento, voltar a bater e mexer novamente com a espátula. Verta agora o conteúdo para uma forma de pizza previamente untada com manteiga e farinha.
    </p>
    <p class="recipe-text">
      Retire e deixe a pizza de liquidificador amornar. Adicione o molho de tomate e os ingredientes que mais gostar (se estiver sem ideias, confira as receitas de pizza do TudoReceitas!), leve novamente ao forno para assar. Bom apetite!
    </p>
  </div>